body{
  margin:0;
  background:#020617;
  overflow-x:hidden;
  font-family:sans-serif;
}

.app{
  position:relative;
  color:white;
}

.stars-bg{
  position:fixed;
  inset:0;
  z-index:-1;
}

.main-title{
  background: linear-gradient(
    90deg,
    #60a5fa,
    #2563eb,
    #93c5fd
  );
   font-family:'Orbitron', sans-serif;

  background-clip: text;
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.subtitle{
  font-size:1.4rem;
  color:#cbd5e1;
}

.counter{
  padding:120px 20px;
  text-align:center;
}

.counter-grid{

  display:flex;
  justify-content:center;
  gap:30px;
  margin-top:40px;
  flex-wrap:wrap;
}

.counter-grid div{

  width:170px;

  background:rgba(255,255,255,.05);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.1);

  border-radius:25px;

  padding:30px;
}

.counter-grid span{
  font-size:3rem;
  color:#60a5fa;
}

.gallery{

  display:flex;
  justify-content:center;
  gap:40px;

  padding:120px 20px;
  flex-wrap:wrap;
}



.gracie-star{

  position:fixed;

  top:80px;
  right:120px;

  width:90px;
  height:90px;

  z-index:9999;

  display:flex;
  flex-direction:column;
  align-items:center;

  pointer-events:none;
}

.gracie-star-image{

  width:100%;
  height:100%;

  object-fit:contain;

  filter:
    drop-shadow(0 0 15px #fde047)
    drop-shadow(0 0 35px #fde047)
    drop-shadow(0 0 60px #fde047);
}

.star-name{

  margin-top:8px;

  color:white;

  font-size:1rem;

  letter-spacing:3px;
}







.loading-screen{

  position:fixed;
  inset:0;

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  background:#01040c;

  z-index:99999;
}

.loading-screen h1{

  font-size:4rem;

  color:#60a5fa;

  text-shadow:
  0 0 20px #2563eb,
  0 0 50px #2563eb;
}

.loading-screen p{

  margin-top:20px;

  color:white;

  letter-spacing:4px;
}



.timeline{
  padding:150px 20px;
  text-align:center;
  scroll-margin-top:100px;
}




html{
  scroll-behavior:smooth;
}

.timeline h2{

  font-size:4rem;

  margin-bottom:70px;

  color:#60a5fa;
}

.timeline-container{

  display:flex;

  justify-content:center;

  gap:30px;

  flex-wrap:wrap;
}

.memory-card{

  width:250px;

  padding:30px;

  border-radius:25px;

  background:rgba(255,255,255,.05);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.1);

  transition:.5s;
}

.memory-card:hover{

  transform:translateY(-10px);

  box-shadow:
  0 0 30px rgba(37,99,235,.5);
}









body::before{

  content:"";

  position:fixed;

  top:-200px;
  left:-200px;

  width:900px;
  height:900px;

  background:#1d4ed8;

  border-radius:50%;

  filter:blur(250px);

  opacity:.15;

  pointer-events:none;
}

body::after{

  content:"";

  position:fixed;

  bottom:-300px;
  right:-300px;

  width:900px;
  height:900px;

  background:#312e81;

  border-radius:50%;

  filter:blur(250px);

  opacity:.15;

  pointer-events:none;
}





.glass-card{

  width:350px;
  aspect-ratio:3/4;

  overflow:hidden;

  border-radius:40px;
  position:relative;

  background:rgba(255,255,255,.05);

 

  border:1px solid rgba(255,255,255,.08);

  box-shadow:
    0 0 20px rgba(37,99,235,.15),
    inset 0 1px 1px rgba(255,255,255,.1);

  transition:.5s;
}

.glass-card:hover{

  transform:translateY(-8px);

  box-shadow:
    0 0 30px rgba(96,165,250,.3),
    0 0 70px rgba(96,165,250,.15);

}






.glass-card img{

  width:100%;
  height:100%;

  object-fit:cover;

  transition:.8s;
}





.love-message{

  padding:150px 30px;

  display:flex;

  justify-content:center;

  text-align:center;
}

.love-message div{

  max-width:900px;

  background:rgba(255,255,255,.05);

  backdrop-filter:blur(20px);

  border:1px solid rgba(255,255,255,.1);

  padding:60px;

  border-radius:30px;
}

.love-message h2{

  font-size:4rem;

  margin-bottom:30px;

  color:#60a5fa;
}

.love-message p{

  font-size:1.5rem;

  line-height:2;

  color:#e2e8f0;
}



.constellation{

  padding:150px 20px;

  text-align:center;
}

.constellation h2{

  font-size:4rem;

  color:#60a5fa;

  margin-bottom:60px;
}

.constellation-box{

  position:relative;

  width:320px;

  height:120px;

  margin:auto;

  border-radius:20px;

  background:rgba(255,255,255,.03);

  backdrop-filter:blur(15px);

  border:1px solid rgba(255,255,255,.08);
}

.mini-star{

  position:absolute;

  width:12px;

  height:12px;

  border-radius:50%;

  background:#fde047;

  box-shadow:
    0 0 10px #fde047,
    0 0 20px #fde047,
    0 0 40px #fde047;
}








.universe-section {

  width: 100%;

  height: 100vh;

  position: relative;
}




.moon-section{
  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;
}

.moon-section img{
  width:700px;
  max-width:90%;
  filter:
    drop-shadow(0 0 40px #2563eb)
    drop-shadow(0 0 80px #60a5fa);
}












.moon-icon{

  font-size:4rem;

  margin-bottom:30px;

  filter:
  drop-shadow(0 0 20px #93c5fd);
}
.hero{

  min-height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:0 20px;
  position:relative;
  overflow:hidden;
}


.shooting-star{

  position:absolute;

  top:0;

  right:0;

  width:350px;

  height:4px;

  display:flex;

  align-items:center;

  z-index:1;

  transform:rotate(-46deg);

  pointer-events:none;
}
.meteor-wrapper{

  position:absolute;

  top:0;
  right:0;

  width:220px;
  height:220px;

  z-index:1;

  pointer-events:none;
}
.meteor-head{

  position:absolute;

  left:0;
  bottom:0;

  width:14px;
  height:14px;

  border-radius:50%;

  background:#fff;

  z-index:2;

  box-shadow:
    0 0 10px #fff,
    0 0 25px #93c5fd,
    0 0 60px #2563eb;
}

.meteor-tail{

  position:absolute;

  left:10px;
  bottom:6px;

  width:180px;
  height:3px;

  transform-origin:left center;

  transform:rotate(-35deg);

  background:
    linear-gradient(
      to right,
      rgba(255,255,255,.9),
      rgba(147,197,253,.5),
      transparent
    );

  filter:blur(2px);
}




.hero-content{

  max-width:900px;
    position:relative;

  z-index:5;
}

.hero-moon{

  width:280px;

  height:280px;

  margin:0 auto 40px auto;

  filter:
  drop-shadow(
    0 0 50px rgba(37,99,235,.4)
  );
}
.hero-top-text{

  color:#60a5fa;

  letter-spacing:4px;

  margin-bottom:25px;

  font-size:.9rem;
}

.hero-title{

  font-size:clamp(4rem,10vw,8rem);

  color:white;

  font-weight:200;

  margin-bottom:10px;
  

  text-shadow:
  0 0 20px rgba(96,165,250,.5),
  0 0 60px rgba(37,99,235,.3);
}

.hero-subtitle{

  color:#93c5fd;

  letter-spacing:6px;

  margin-bottom:35px;

  font-weight:300;
}

.hero-quote{

  color:#cbd5e1;

  font-size:1.2rem;

  line-height:1.9;

  margin-bottom:50px;
}

.hero-button{

  padding:18px 40px;

  border:none;

  border-radius:999px;

  background:
  linear-gradient(
    135deg,
    #1d4ed8,
    #2563eb
  );

  color:white;

  cursor:pointer;

  font-size:1rem;

  box-shadow:
  0 0 30px rgba(37,99,235,.4);

  transition:.3s;
}

.hero-button:hover{

  box-shadow:
  0 0 50px rgba(37,99,235,.7);
}








.love-counter{

  min-height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  padding:100px 20px;
}

.counter-title{

  text-align:center;

  margin-bottom:80px;
}

.counter-title h2{

  font-size:4rem;

  font-weight:200;

  color:white;
}

.counter-title p{

  margin-top:20px;

  color:#94a3b8;
}


.orbit-container{
  position:relative;
  width:600px;
  height:600px;
  margin:auto;
}

.orbit{
  width:100%;
  height:100%;
  position:absolute;
  border-radius:50%;
  border:1px solid rgba(96,165,250,.15);

  animation:
  orbitRotate 45s linear infinite;
}

@keyframes orbitRotate{

  from{
    transform:rotate(0deg);
  }

  to{
    transform:rotate(360deg);
  }

}

.time-node{

  position:absolute;

  width:140px;
  height:140px;

  border-radius:50%;

  background:
  rgba(255,255,255,.05);

  backdrop-filter:
  blur(20px);

  border:
  1px solid rgba(255,255,255,.08);

  display:flex;
  justify-content:center;
  align-items:center;

  box-shadow:
  0 0 30px rgba(37,99,235,.2);
}

.time-fix{

  width:100%;
  height:100%;

  display:flex;
  justify-content:center;
  align-items:center;

  animation:
  orbitRotate 45s linear infinite reverse;
}

.time-content{

  display:flex;
  flex-direction:column;

  justify-content:center;
  align-items:center;

  text-align:center;
}

.time-node h3{

  font-size:2rem;
  color:white;
}

.time-node span{

  color:#93c5fd;
}

.orbit-top{

  top:-70px;
  left:50%;

  transform:
  translateX(-50%);
}

.orbit-right{

  right:-70px;
  top:50%;

  transform:
  translateY(-50%);
}

.orbit-bottom{

  bottom:-70px;
  left:50%;

  transform:
  translateX(-50%);
}

.orbit-left{

  left:-70px;
  top:50%;

  transform:
  translateY(-50%);
}





.moon-center{

  position:absolute;

  top:50%;
  left:50%;

  transform:
  translate(-50%,-50%);

  display:flex;

  flex-direction:column;

  align-items:center;
}

.moon-glow{

  position:absolute;

  width:220px;

  height:220px;

  border-radius:50%;

  background:
  radial-gradient(
  circle,
  rgba(37,99,235,.4),
  transparent
  );

  filter:blur(40px);
}

.moon-core{

  font-size:6rem;

  z-index:2;
}

.moon-center h4{

  margin-top:20px;

  color:white;

  letter-spacing:8px;

  font-size:2rem;
}




.constellation{

  min-height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:100px 20px;
}

.constellation h2{

  font-size:4rem;

  color:white;

  font-weight:200;

  margin-bottom:20px;
}

.constellation-text{

  color:#94a3b8;

  margin-bottom:70px;

  letter-spacing:3px;
}

.constellation-box{

  position:relative;

  width:400px;

  height:320px;
}

.star-lines{

  position:absolute;

  inset:0;
}

.star-lines line{

  stroke:#60a5fa;

  stroke-width:1.5;

  opacity:.4;
}

.mini-star{

  position:absolute;

  width:14px;

  height:14px;

  border-radius:50%;

  background:#fde047;

  box-shadow:
  0 0 10px #fde047,
  0 0 30px #fde047,
  0 0 60px #fde047;
}













.soundtrack{

  min-height:100vh;

  padding:120px 40px;

  text-align:center;
}

.soundtrack h2{

  font-size:4rem;

  color:white;

  margin-bottom:20px;
}


.soundtrack-subtitle{

  color:#93c5fd;

  margin-bottom:80px;

  font-size:1.2rem;
}

.soundtrack-grid{

  display:flex;

  justify-content:center;

  gap:40px;

  flex-wrap:wrap;
}

.music-star{

  width:260px;

  padding:40px 25px;

  border-radius:30px;

  cursor:pointer;

  background:
  rgba(255,255,255,.05);

  backdrop-filter:
  blur(20px);

  border:
  1px solid rgba(255,255,255,.08);

  transition:.5s;

  box-shadow:
  0 0 25px rgba(37,99,235,.1);
}


.music-star:hover{

  transform:translateY(-10px);

  box-shadow:
  0 0 40px rgba(37,99,235,.4);
}


.music-note{

  font-size:5rem;

  color:#60a5fa;

  margin-bottom:20px;
}

.music-star h3{

  color:white;

  margin-bottom:10px;
}

.music-star p{

  color:#93c5fd;
}


.music-star.active{

  box-shadow:
  0 0 30px #60a5fa,
  0 0 80px #2563eb;

  border:
  1px solid #60a5fa;
}

.music-star.active .music-note{

  animation:
  pulseMusic 2s infinite;
}

@keyframes pulseMusic{

  0%{

    transform:scale(1);
  }

  50%{

    transform:scale(1.2);
  }

  100%{

    transform:scale(1);
  }

}



.memory-book-section{

  min-height:100vh;

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  padding:120px 20px;
}



.book-title{

  color:white;

  font-size:4rem;

  margin-bottom:70px;

  text-align:center;
}


.book-wrapper{

  display:flex;

  align-items:center;

  gap:40px;
}


.cosmic-book{

  position:relative;

  width:800px;

  height:520px;

  border-radius:30px;

  overflow:hidden;

  background:
  rgba(15,23,42,.45);

  backdrop-filter:
  blur(25px);

  border:
  1px solid rgba(96,165,250,.15);

  box-shadow:
  0 0 60px rgba(37,99,235,.15);

  display:flex;

  justify-content:center;

  align-items:center;
}


.book-glow{

  position:absolute;

  inset:0;

  background:
  radial-gradient(
    circle,
    rgba(96,165,250,.08),
    transparent 70%
  );

  pointer-events:none;
}


.memory-page{

  width:90%;

  height:85%;

  border-radius:25px;

  background:
  rgba(255,255,255,.04);

  border:
  1px solid rgba(255,255,255,.06);

  display:flex;

  flex-direction:column;

  justify-content:center;

  align-items:center;

  text-align:center;

  padding:50px;

  transform-style:
  preserve-3d;
}


.page-date{

  color:#60a5fa;

  font-size:1rem;

  letter-spacing:3px;

  margin-bottom:25px;
}


.memory-page h3{

  color:white;

  font-size:3rem;

  margin-bottom:25px;
}


.page-divider{

  width:200px;

  height:2px;

  background:
  linear-gradient(
    to right,
    transparent,
    #60a5fa,
    transparent
  );

  margin-bottom:35px;
}


.memory-page p{

  color:#cbd5e1;

  font-size:1.2rem;

  line-height:2;
}


.book-arrow{

  width:70px;

  height:70px;

  border:none;

  border-radius:50%;

  background:
  rgba(255,255,255,.06);

  color:white;

  font-size:1.8rem;

  cursor:pointer;

  backdrop-filter:
  blur(15px);

  transition:.3s;
}



.book-arrow:hover{

  transform:scale(1.1);

  box-shadow:
  0 0 25px rgba(96,165,250,.4);
}













.page-hearts{

  display:flex;

  justify-content:center;

  align-items:center;

  min-height:50px;

  margin-bottom:25px;
}



.page-hearts span{

  font-size:2.2rem;

  animation:
  heartBeat 3s infinite;
}


@keyframes heartBeat{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.15);
  }

  100%{
    transform:scale(1);
  }

}




.heart-white{

  animation:
  heartBeat 3s infinite;
}


.heart-black{

  animation:
  heartBeat 3s infinite;

  animation-delay:1.5s;
}





.navbar{

  position:fixed;

  top:20px;

  left:50%;

  transform:translateX(-50%);

  width:90%;

  max-width:1200px;

  height:75px;

  z-index:9999;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 30px;

  border-radius:25px;

  background:
  rgba(15,23,42,.25);

  backdrop-filter:
  blur(20px);

  border:
  1px solid rgba(255,255,255,.08);

  transition:.4s;
}


.navbar.active{

  background:
  rgba(15,23,42,.45);

  box-shadow:
  0 0 40px rgba(37,99,235,.2);
}



.navbar-logo{

  color:white;

  font-size:1.2rem;

  font-weight:700;

  letter-spacing:1px;
}


.navbar-links{

  display:flex;

  gap:18px;
}


.navbar-links button{

  background:none;

  border:none;

  color:#cbd5e1;

  cursor:pointer;

  font-size:.95rem;

  transition:.3s;
}


.navbar-links button:hover{

  color:white;

  transform:translateY(-2px);

  text-shadow:
  0 0 15px #60a5fa;
}







.lunar-timeline{

  position:fixed;

  left:50px;

  top:50%;

  transform:translateY(-50%);

  height:75vh;

  display:flex;

  flex-direction:column;

  justify-content:space-between;

  align-items:center;

  z-index:9999;
}



.timeline-moon{

  font-size:2rem;

  animation:
  moonFloat 4s ease-in-out infinite;
}



@keyframes moonFloat{

  0%,100%{
    transform:translateY(0);
  }

  50%{
    transform:translateY(-8px);
  }

}

.timeline-line{

  position:absolute;

  top:60px;

  bottom:60px;

  width:3px;

  border-radius:999px;

  background:
  linear-gradient(
    to bottom,
    rgba(96,165,250,.8),
    rgba(59,130,246,.15)
  );

  box-shadow:
    0 0 15px rgba(96,165,250,.5);

  z-index:-1;
}


.timeline-item{

  position:relative;

  display:flex;

  align-items:center;

  gap:15px;

  cursor:pointer;
}







.timeline-item span{

  position:absolute;

  left:35px;

  white-space:nowrap;

  color:white;

  opacity:0;

  transform:translateX(-10px);

  transition:.3s;
}

.timeline-item:hover span{

  opacity:1;

  transform:translateX(0);
}


.timeline-line::after{

  content:"";

  position:absolute;

  left:50%;

  transform:translateX(-50%);

  width:10px;

  height:60px;

  border-radius:999px;

  background:

  linear-gradient(
    to bottom,
    transparent,
    #93c5fd,
    transparent
  );

  animation:
  lineGlow 5s linear infinite;
}



@keyframes lineGlow{

  from{
    top:0;
  }

  to{
    top:100%;
  }

}

.timeline-star{

  font-size:1.4rem;

  color:#93c5fd;

  transition:.4s;

  cursor:pointer;

  opacity:.7;
}


.timeline-star.active{

  color:white;

  transform:scale(1.6);

  text-shadow:
    0 0 10px white,
    0 0 25px #60a5fa,
    0 0 45px #2563eb;
}






.moon-launch{

  transition:.8s;
}

.moon-launch.active{

  transform:scale(1.15);

  filter:
    drop-shadow(0 0 40px #60a5fa)
    drop-shadow(0 0 80px #93c5fd)
    drop-shadow(0 0 150px #ffffff);

  animation:
    moonFlash 1.5s ease;
}

@keyframes moonFlash{

  0%{
    transform:scale(1);
  }

  50%{
    transform:scale(1.25);
  }

  100%{
    transform:scale(1.15);
  }

}

.universe-loading{

  margin-top:30px;

  color:white;

  font-size:1.1rem;

  letter-spacing:6px;

  text-transform:uppercase;

  animation:
    loadingGlow 1.5s infinite;
}

@keyframes loadingGlow{

  0%{
    opacity:.4;
  }

  50%{

    opacity:1;

    text-shadow:
      0 0 20px #60a5fa;

  }

  100%{
    opacity:.4;
  }

}




/* ========================= */
/* TABLET */
/* ========================= */

@media (max-width:1024px){

  .hero-title{
    font-size:5rem;
  }

  .hero-moon{
    width:240px;
    height:240px;
  }

  .orbit-container{
    width:500px;
    height:500px;
  }

  .time-node{
    width:120px;
    height:120px;
  }

  .cosmic-book{
    width:90%;
    height:500px;
  }

  .book-title,
  .timeline h2,
  .soundtrack h2,
  .counter-title h2,
  .love-message h2{
    font-size:3rem;
  }

}


/* ========================= */
/* MOBILE */
/* ========================= */

@media (max-width:768px){

.gracie-star{

  top:70px;
  right:15px;

  width:70px;
  height:70px;

  transform:translateZ(0);

  will-change:transform;

  backface-visibility:hidden;

  -webkit-backface-visibility:hidden;

  contain:layout style paint;
}

.star-name{

  font-size:.8rem;
  letter-spacing:2px;
}

  .navbar{

    width:95%;
    height:auto;

    padding:15px;

    flex-direction:column;

    gap:10px;
  }

  .navbar-links{

    flex-wrap:wrap;

    justify-content:center;

    gap:12px;
  }

  .navbar-links button{

    font-size:.8rem;
  }

  .lunar-timeline{

    left:8px;

    top:50%;

    transform:translateY(-50%) scale(.7);

    height:55vh;
  }

  .timeline-item span{

    display:none;
  }

  .hero{

    padding:120px 20px 80px;
  }

  .hero-moon{

    width:180px;
    height:180px;

    margin-bottom:25px;
  }

  .hero-title{

    font-size:3rem;

    line-height:1.1;
  }

  .hero-subtitle{

    font-size:1rem;

    letter-spacing:2px;
  }

  .hero-quote{

    font-size:1rem;

    line-height:1.8;
  }

  .hero-button{

    padding:15px 28px;
  }

  .counter-title h2{

    font-size:2.5rem;
  }

  .orbit-container{

    width:320px;
    height:320px;
  }

  .time-node{

    width:80px;
    height:80px;
  }

  .time-node h3{

    font-size:1.2rem;
  }

  .orbit-top{

    top:-40px;
  }

  .orbit-bottom{

    bottom:-40px;
  }

  .orbit-right{

    right:-40px;
  }

  .orbit-left{

    left:-40px;
  }

  .moon-glow{

    width:140px;
    height:140px;
  }

  .moon-center h4{

    font-size:1.2rem;

    letter-spacing:4px;
  }

  .soundtrack{

    padding:100px 20px;
  }

  .soundtrack h2{

    font-size:2.5rem;
  }

  .soundtrack-grid{

    gap:20px;
  }

  .music-star{

    width:100%;
    max-width:320px;
  }

  .book-title{

    font-size:2.5rem;
  }

  .book-wrapper{

    width:100%;

    gap:15px;
  }

  .cosmic-book{

    width:100%;
    height:500px;
  }

  .memory-page{

    padding:25px;
  }

  .memory-page h3{

    font-size:2rem;
  }

  .memory-page p{

    font-size:1rem;
  }

  .book-arrow{

    width:55px;
    height:55px;
  }

  .love-message{

    padding:100px 20px;
  }

  .love-message div{

    padding:30px;
  }

  .love-message h2{

    font-size:2.5rem;
  }

  .love-message p{

    font-size:1rem;
  }

  .gallery{

    gap:20px;
  }

  .glass-card{

    width:100%;
    max-width:350px;
  }

.glass-card img{

  width:100%;
  height:auto;
  display:block;
}

  .shooting-star,
  .meteor-wrapper{
    display:flex !important;
  }

}


/* ========================= */
/* SMALL PHONES */
/* ========================= */

@media (max-width:480px){

  .gracie-star{

    position:fixed;

    top:80px;
    right:15px;

    width:65px;
    height:65px;

    z-index:9999;
  }

  .gracie-star-image{

    width:100%;
    height:100%;

    object-fit:cover;
  }

  .star-name{

    font-size:.7rem;

    letter-spacing:1px;

    margin-top:4px;
  }

  .hero-title{

    font-size:2.4rem;
  }

  .hero-subtitle{

    font-size:.9rem;
  }

  .counter-title h2{

    font-size:2rem;
  }

  .soundtrack h2{

    font-size:2rem;
  }

  .book-title{

    font-size:2rem;
  }

  .love-message h2{

    font-size:2rem;
  }

  .orbit-container{

    width:280px;
    height:280px;
  }

  .time-node{

    width:70px;
    height:70px;
  }

  .time-node h3{

    font-size:1rem;
  }

    .shooting-star,
  .meteor-wrapper{
    display:flex !important;
  }

}





html,
body,
#root{

  width:100%;
  max-width:100%;

  overflow-x:hidden;
}

*{
  box-sizing:border-box;
}


